
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Person Record</h3>
  </div>
  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>First name:</strong>
      <%= @person.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @person.last_name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @person.title %>
    </p>

    <p>
      <strong>Linked in:</strong>
      <%= @person.linked_in %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @person.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @person.phone %>
    </p>

  </div>
</div>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
